header {
    text-align: center;
    font-family: "Lucida Console", monospace

}

body {
    text-align: center
}

form {
    margin: 0 auto;
    width: 500px;
}

.input-form {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.field {
    display: flex;
    flex-direction: column;
    font-family: "Lucida Console", monospace

}

.checkbox-field {
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

#submit {
    margin: 0 auto;
    font-family: "Lucida Console", monospace;
    width: 15em;
    height: 4em;
    text-align: center
}