.input-form {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.field {
    display: flex;
    flex-direction: column;
}

.checkbox-field {
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
