{% extends "layout.html" %}

{% block body %}

<main>
    <p>Input Information:</p>

    <form method="POST" action="/prediction" class="input-form">

        <div class="field">
            <label for="batter">Batter:</label>
            <select name="batter" id="batter">
                {% for batter in batters %}
                    <option value="{{ batter }}">{{ batter }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="field">
            <label for="outs">Outs:</label>
            <input type="number" id="outs" name="outs" min=0 max=2 required>
        </div>

        <div class="field">
            <label for="strikes">Strikes:</label>
            <input type="number" id="strikes" name="strikes" min=0 max=2 required>
        </div>

        <div class="field">
            <label for="balls">Balls:</label>
            <input type="number" id="balls" name="balls" min=0 max="3" required>
        </div>

        <div class="field checkbox-field">
            <label for="on_1b">On first base:</label>
            <input type="checkbox" id="on_1b" name="on_1b">
        </div>

        <div class="field checkbox-field">
            <label for="on_2b">On second base:</label>
            <input type="checkbox" id="on_2b" name="on_2b">
        </div>

        <div class="field checkbox-field">
            <label for="on_3b">On third base:</label>
            <input type="checkbox" id="on_3b" name="on_3b">
        </div>

        <div style="text-align: center;">
            <input type="submit" id="submit" value="Predict !!!">
        </div>

    </form>
</main>

{% endblock %}
