{% extends "layout.html" %}

{% block body %}

<main>
    <p>Input Information</p>

    <form method="POST" action="/" class="input-form">

        <div class="field">
            <label for="batter">Batter:</label>
            <select name="batter" id="batter">
                {% for batter in batters %}
                    <option value="{{ batter }}">{{ batter }}</option>
                {% endfor %}
            </select>
        </div><br>

        <div class="field">
            <label for="strikes">Strikes:</label>
            <input type="text" id="strikes" name="strikes" required>
        </div><br>

        <div class="field">
            <label for="balls">Balls:</label>
            <input type="text" id="balls" name="balls" required>
        </div><br>

        <div class="field checkbox-field">
            <label for="on_1b">On first base:</label>
            <input type="checkbox" id="on_1b" name="on_1b">
        </div><br>

        <div class="field checkbox-field">
            <label for="on_2b">On second base:</label>
            <input type="checkbox" id="on_2b" name="on_2b">
        </div><br>

        <div class="field checkbox-field">
            <label for="on_3b">On third base:</label>
            <input type="checkbox" id="on_3b" name="on_3b">
        </div><br>

        <input type="submit" value="Submit">

    </form>
</main>

{% endblock %}
